<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Forum アプリケーション</title>
</head>

<body>
    <h1>掲示板</h1>
    <h2>{{ topic.name }}</h2>
    <table>
        <tr>
            <th>投稿内容</th>
            <th>投稿日時</th>
            <th>操作</th>
        </tr>
        {% for message in messages %}
            <tr>
                <td>{{ message.content }}</td>
                <td>{{ message.created_at }}</td>
                <td>
                    <form action="{% url 'delete_message' topic.name message.pk %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="削除">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    <form action="{% url 'forum' topic.name %}" method="POST">
        {% csrf_token %}
        <input type="text" name="message">
        <input type="submit" value="投稿">
    </form>
    <a href="{% url 'index' %}">ホームへ</a>
</body>

</html>